*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#buttons{
  margin-top: 40px;
  display: flex;
  gap: 15px;
}

.button{
  font-size: medium;
  width: 100px;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  border: none;
  background-color: brown;
  color: white;
  transition: .3s;
}

.button:hover{
  cursor: pointer;
  transform: scale(1.1);
}